# HW10 - Mission to Mars

In [1]:
#Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

## Step 1 - Scraping

### NASA Mars News

In [2]:
#Executable Path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Browser visit
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [4]:
#Create BeautifuSoup object
html = browser.html
soup = bs(html,'html.parser')

In [ ]:
#Examine results
print(soup.prettify())

In [5]:
#Save latest article title and paragraph text into string variables

news_title = soup.find('div', class_="content_title").text
news_p = soup.find('div', class_="article_teaser_body").text

print(news_title)
print(news_p)

NASA's Mars 2020 Rover Is Put to the Test
In January, Mars 2020 engineers and technicians took over JPL's cleanroom to put the mission's cruise, entry capsule, descent stage and rover through their paces.

### JPL Mars Space Images - Featured Image

In [6]:
#Visit Mars Featured Image Page

featured_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featured_url)

In [7]:
#Ask browser to click "FULL IMAGE" button

browser.click_link_by_partial_text('FULL IMAGE')

In [8]:
#Ask Broswer to click "more info button"

browser.click_link_by_partial_text('more info')

In [9]:
#Create BeautifulSoup object

featured_html = browser.html
featured_soup = bs(featured_html,'html.parser')

In [9]:
#Examine html
# print(featured_soup.prettify())

In [11]:
#Store url of full size featured image
featured_image_url ="https://www.jpl.nasa.gov" + featured_soup.find('figure', class_ = "lede").a['href']

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16883_hires.jpg'

### Mars Weather

In [12]:
#Visit Mars Weather Twitter Page

mars_twitter_url = "https://twitter.com/marswxreport?lang=en"

browser.visit(mars_twitter_url)

In [13]:
#Create BeautifulSoup object
twitter_html = browser.html
twitter_soup = bs(twitter_html, 'html.parser')

In [14]:
#Examine html

# print(twitter_soup.prettify())

In [15]:
#Retrive all tweets from timeline

tweets_all = twitter_soup.find_all\
    ("div", class_ = "tweet")

In [16]:
#Create mars_weather variable which will contain the text from the Mars Weather twitter reports

mars_weather = ""


#Iterate through tweets in timeline

for tweet in tweets_all:
    
    #If loop found the latest weather report, end for loop
    
    if mars_weather != "":
        break
    
    #Verify the tweet is from the Mars Weather Account
    content = tweet.find("div", class_ = "content")
    header_container = content.find("div", class_ = "stream-item-header")
    anchor = header_container.find("a", class_ = "js-user-profile-link")
    span = anchor.find("span", class_ = "FullNameGroup")
    user_name = span.find("strong", class_ = "fullname").text
    
    if user_name == "Mars Weather":
        
        #Verify the tweet is a weather report
        
        text_container = content.find("div", class_ = "js-tweet-text-container")
        tweet_p = text_container.find("p", class_ = "js-tweet-text")
        
        #Drop Anchor tag if it exists in p element (irrelevant text)
        if tweet_p.find("a", class_ = "twitter-timeline-link"):
            tweet_p.find("a", class_ = "twitter-timeline-link").decompose()
    
        #Store relevant text into tweet_text
        tweet_text = tweet_p.text
        
        #If the tweet is a weather report, store text into mars_weather

        if tweet_text[0:11] == "InSight sol":
            mars_weather = tweet_text
            print(mars_weather)

InSight sol 99 (2019-03-07) low -95.8ºC (-140.4ºF) high -13.3ºC (8.1ºF)
winds from the SW at 4.2 m/s (9.5 mph) gusting to 12.0 m/s (26.8 mph)
pressure at 7.20 hPa

### Mars Facts

In [16]:
#Visit Mars Facts webpage

facts_url = "https://space-facts.com/mars/"

tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
#Create dataframe

df  = tables[0]
df.columns = ['Description', 'Value']
df.set_index('Description', inplace = True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [26]:
#Create HTML table string

html_table = df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [25]:
#Save table

df.to_html('table.html')

### Mars Hemispheres

In [33]:
#Visit USGS AstrogeologyPage

astrogeology_page_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(astrogeology_page_url)

In [34]:
#Create Beautiful Soup object
hemisphere_html = browser.html
hemisphere_soup = bs(hemisphere_html, 'html.parser')

In [1]:
#Examine results
# print(hemisphere_soup.prettify())

In [35]:
#Find sections for all hemispheres
hemispheres = hemisphere_soup.find_all("div", class_ = "item")
# hemispheres

In [49]:
#Create image urls list
hemisphere_image_urls = []

#Iterate through hemispheres 
for hemisphere in hemispheres:
    #Visit specfic hemisphere page
    base_url = "https://astrogeology.usgs.gov"
    hemisphere_page = base_url + hemisphere.a['href']
    browser.visit(hemisphere_page)
    
    #Create BS object
    sub_html = browser.html
    sub_soup = bs(sub_html, 'html.parser')
    
    #Find hemisphere title
    sub_title_container = sub_soup.find("section", class_ = "block metadata")
    sub_title = sub_title_container.h2.text
    #Remove "Enhanced" from the end
    sub_title_cut = sub_title[:-9]
    
    #Find image url
    sub_image_div = sub_soup.find("div", class_ = "downloads")
    sub_image_ul = sub_image_div.ul
    sub_image_url = sub_image_ul.li.a['href']
    
    #Append list with dictionary
    hemisphere_image_urls.append(
        {'title': sub_title_cut,
         'img_url': sub_image_url
        }
    )

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [50]:
browser.quit()